<div class="row">
  <div class="col col-4">
<h2>Add Mental Product</h2>
    <form  #addForm="ngForm" (ngSubmit)="addProduct(product)">
      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="product.name" name="name" required>
      <br>
      <label for="price">Price:</label>
      <input type="number" id="price" [(ngModel)]="product.price" name="price" required>
      <br>
      <label for="image">Image URL:</label>
      <input type="text" id="imageUrl" [(ngModel)]="product.imageUrl" name="imageUrl" required>
      <br>
      <button type="submit" >Add Product</button>
    </form></div> 
<br>
<div class="col col-4">
    <h2>Add Beauty Product</h2>
    <form  #addForm="ngForm" (ngSubmit)="addBeautyProduct(beautyproduct)">
      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="beautyproduct.name" name="name" required>
      <br>
      <label for="price">Price:</label>
      <input type="number" id="price" [(ngModel)]="beautyproduct.price" name="price" required>
      <br>
      <label for="image">Image URL:</label>
      <input type="text" id="imageUrl" [(ngModel)]="beautyproduct.imageUrl" name="imageUrl" required>
      <br>
      <button type="submit" >Add Product</button>
    </form></div> 
    <br>
    <div class="col col-4">
    <h2>Add Health Product</h2>
    <form  #addForm="ngForm" (ngSubmit)="addHealthProduct(healthproduct)">
      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="healthproduct.name" name="name" required>
      <br>
      <label for="price">Price:</label>
      <input type="number" id="price" [(ngModel)]="healthproduct.price" name="price" required>
      <br>
      <label for="image">Image URL:</label>
      <input type="text" id="imageUrl" [(ngModel)]="healthproduct.imageUrl" name="imageUrl" required>
      <br>
      <button type="submit" >Add Product</button>
    </form></div> 
  </div>
    <br>
    <br>
    <div class="row">
      <div class="col col-4">
    <h2>delete Mental Produts</h2>
    
    <table class="table">
      <thead>
        <tr>
          <th>name</th>
          <th>Price</th>
          <th>Image</th>
          <th></th>
        </tr>
      </thead>
        
        <tr *ngFor="let p of products">
          <td>{{ p.name }}</td>
          <td>{{ p.price }} DT</td>
          <td><img [src]="p.imageUrl" alt="{{ p.name }}" width="50"></td>
          <td><button (click)="deleteProduct(p.id)" class="btn btn-danger">Delete</button></td>
        </tr>
    
    </table></div>
    <br>
    <br>
    <br>
   
      <div class="col col-4">
    <h2>delete Beauty Produts</h2>
    
    <table class="table">
      <thead>
        <tr>
          <th>name</th>
          <th>Price</th>
          <th>Image</th>
          <th></th>
        </tr>
      </thead>
        
        <tr *ngFor="let p of beautyproducts">
          <td>{{ p.name }}</td>
          <td>{{ p.price }} DT</td>
          <td><img [src]="p.imageUrl" alt="{{ p.name }}" width="50"></td>
          <td><button (click)="deleteBeautyProduct(p.id)" class="btn btn-danger">Delete</button></td>
        </tr>
    
    </table></div>
    <br>
    <br>
    <br>
  
      <div class="col col-4">
    <h2>delete Health Produts</h2>
    
    <table class="table">
      <thead>
        <tr>
          <th>name</th>
          <th>Price</th>
          <th>Image</th>
          <th></th>
        </tr>
      </thead>
        
        <tr *ngFor="let p of healthproducts">
          <td>{{ p.name }}</td>
          <td>{{ p.price }} DT</td>
          <td><img [src]="p.imageUrl" alt="{{ p.name }}" width="50"></td>
          <td><button (click)="deleteHealthProduct(p.id)" class="btn btn-danger">Delete</button></td>
        </tr>
    
    </table></div></div>
    <br>
    <br>
    <h2>Add Offre</h2>
<form  #addForm1="ngForm" (ngSubmit)="addPromotion(promotion)">
    <label for="name">Name:</label>
    <input type="text" id="name" [(ngModel)]="promotion.name" name="name" required>
    <br>
    <label for="discount">discount:</label>
    <input type="text" id="discount" [(ngModel)]="promotion.discount" name="discount" required>
    <br>
    <label for="newprice">New Price:</label>
    <input type="number" id="newprice" [(ngModel)]="promotion.newprice" name="newprice" required>
    <br>
    <label for="imagepromotion">image promotion</label>
    <input type="text" id="imagepromotion" [(ngModel)]="promotion.imagepromotion" name="imagepromotion" required>
    <br>
    <label for="startdate">start date:</label>
    <input type="date" id="startdate" [(ngModel)]="promotion.startdate" name="startdate" required>
    <br>
    <label for="enddate">enddate:</label>
    <input type="date" id="enddate" [(ngModel)]="promotion.enddate" name="enddate" required>
    <br>
    <button type="submit">Add Promotion</button>
  </form>
