/* Style des résultats */

body{
  background-color: rgb(255, 255, 255);  
    background-size: cover; /* Ajuster la taille de l'image pour couvrir tout le formulaire */
      background-position: center;
      background-attachment: fixed; /* Pour que l'image reste fixe pendant le défilement */
      font-family: Arial, sans-serif; 
      margin-bottom: 0;
     
      margin-top: -100px;
  }
  
  h1 {
      color: #000000; 
  
      text-align:center;
    }
    
    h3 {
      color: #000000; /* Vert */
      text-align:center;
  
    }
    
    p {
      color: #000000; /* Bleu */
      
    }
    
    ul {
      list-style-type: none;
      padding: 0;
    }
    
    li {
      color: #000000; /* Vert */
      margin-bottom: 10px;
      font-size: 20px;
    }
    
    /* Style pour les cas spécifiques */
    div {
      margin-top: 20px;
    }
    
    /* Style du texte pour les résultats négatifs */
    div:nth-child(3) p {
      color: #dc3545; /* Rouge */
  
    }
    footer {
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: center;
      margin-top: -80px; 
  }
  
  .footer-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  
  .contact, .social-media {
      flex: 1;
  }
  
  .contact h3, .social-media h3 {
      margin-bottom: 10px;
      font-size: 1.2em;
  }
  
  .contact h5 {
      margin: 5px 0;
      font-size: 0.9em;
  }
  
  .social-media ul {
      list-style-type: none;
      padding: 0;
  }
  
  .social-media ul li {
      display: inline-block;
      margin-right: 10px;
  }
  
  .social-media ul li:last-child {
      margin-right: 0;
  }
  
  .social-media ul li a img {
      width: 40px;
      height: 40px;
      border-radius: 50%; /* Rounded corners for the social media icons */
  }