<body>

    <footer>
        <div class="footer-container">
            <div class="contact">
                <h3> ☎ +216 33 33 33 33 &nbsp;&nbsp;&nbsp; &nbsp; ✉ wellbeing@gmail.com </h3>
            </div>
            <div class="social-media">
                <h3></h3>
                <ul>
                    <li> Follow us &nbsp;&nbsp;&nbsp;&nbsp;<a
                            href="https://www.facebook.com/profile.php?id=100035186080849&locale=fr_FR"><img
                                src="https://img.freepik.com/vecteurs-premium/icone-facebook_488108-2.jpg"
                                alt="Facebook"></a></li>
                    <li><a href="https://www.instagram.com/votrecompte"><img
                                src="https://img.freepik.com/premium-vector/modern-logo-instagram-icon-white-background_578229-126.jpg"
                                alt="Instagram"> </a> </li> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                                <li><a href="https://www.instagram.com/votrecompte"><img
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4c8Aq5FQBW9p2o0G89oAczQPmyq2aekiRxQ&usqp=CAU"
                                    alt="Instagram"> </a> </li>
                                
                </ul>
            </div>
        </div>

    </footer>

    <main>
        <section class="hero">
           <h1>🌟  Limited Time Offer: Get Your Favorites Now! 🌟<br></h1> 

🎉 Don't miss out on our exclusive promotion! For a limited time only, grab incredible discounts on a wide range of products. <br>

🛍️ Explore our store today and enjoy:<br>

<h4>🔥 Up to 50% off select items!<br></h4>
🎁 Special deals on bestselling products!<br>


Hurry, these offers won't last forever!<br>

<h1>Happy shopping! 🛒✨</h1><br>
<section class="promo-banner">
           
    <div class="promo-text">



        <a href="promotion">See all offers</a>
    </div>
    
</section>
<div class="panier">
    <h2>Votre Panier</h2>
    <ul>
      <li *ngFor="let item of items; let i = index">
        {{ item.name }} - {{ item.price }} €
        <button (click)="supprimerProduitsDuPanier(i)">Supprimer</button>
      </li>
    </ul>
    <div *ngIf="items.length === 0">
      Votre panier est vide.
    </div>
    <div>Total : {{ calculerTotal() }} €</div>
    <button (click)="viderPanier()">Vider le panier</button>
    </div>
  <section class="featured-products">
            <div class="product" *ngFor="let product of products">
              <img [src]="product.imageUrl" alt="{{ product.name }} " />
              <h2>{{ product.name }}</h2>
              <p>Prix: {{ product.price }} TND</p>
             
              <button (click)="ajouterProduitAuPanier(product)">Ajouter au panier</button>
      
            </div>
      
      
      
          </section>
        </section>
      

       


    </main>
    <h1>ss</h1> <h1>ss</h1> <h1>ss</h1> <h1>ss</h1> <h1>ss</h1>
</body>