
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="#"><img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/430283957_7209190442525545_2415335096323687854_n.png?stp=dst-png_p206x206&_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_ohc=TlrsMC9sSoYAX-AktcV&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdQayjoUX4LmeUKdLW8hgLwvsEBvaASlzSvgv372qwWivg&oe=662C17B7" alt="Logo"></a>
        </div>
        <div class="buttons left">
            <a href="" class="btn">Home</a>
            <div class="dropdown">
                <button class="btn">Quiz</button>
                <div class="dropdown-content">
                    <a href="health" class="btn">Health</a>
                    <a href="mental" class="btn">Mental Health</a>
                    <a href="beauty" class="btn">Beauty</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn">Shop</button>
                <div class="dropdown-content">
                    <a href="healthstore" class="btn">Health</a>
                    <a href="storemental" class="btn">Mental Health</a>
                    <a href="storebeauty" class="btn">Beauty</a>
                    <a href="promotion" class="btn">Promotion</a>

                </div>
            </div>
            <a href="course" class="btn">Online Courses </a>
            <a href="rendezvous" class="btn">Find a Doctor </a>
            <a href="#section1" class="btn">About us</a>

        </div>
        <div class="buttons right">
            <a href="login" class="btn">Sign In</a>
            <a href="register" class="btn">Sign Up</a>
        </div>
        
    </nav>
    


<router-outlet></router-outlet>
</body>