
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="#"><img src="https://scontent.fnbe1-2.fna.fbcdn.net/v/t1.15752-9/426020908_7007410422719613_1138247438773500424_n.png?_nc_cat=105&ccb=1-7&_nc_sid=8cd0a2&_nc_ohc=mR8Bqjfs7PkAX-kDDov&_nc_ht=scontent.fnbe1-2.fna&oh=03_AdTzIDbLjhh5CWmVowEatVP7tWlUUo2MKqr_Ty-4WMTBhQ&oe=65FDC10D" alt="Logo"></a>
        </div>
        <div class="buttons left">
            <a href="" class="btn">Home</a>
            <div class="dropdown">
                <button class="btn">Blog</button>
                <div class="dropdown-content">
                    <a href="health" class="btn">Health</a>
                    <a href="mental" class="btn">Mental Health</a>
                    <a href="#" class="btn">Beauty</a>
                </div>
            </div>
            <a href="store" class="btn">Store</a>
            <a href="happiness" class="btn">Happiness Map</a>
            <a href="#" class="btn">Online Courses </a>
        </div>
        <div class="buttons right">
            <a href="#" class="btn">Sign In</a>
            <a href="#" class="btn">Sign Up</a>
        </div>
        
    </nav>
</body>

<router-outlet></router-outlet>
