<nav class="navbar">
  <div class="logo">
    <a href="#"><img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/438115829_1145633666473696_1716989493358583312_n.png?stp=dst-png_p206x206&_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_ohc=DYyMpj3RQswQ7kNvgGJ_bBk&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_Q7cD1QH5kawcjNbDbtSFYQrfXtvCelx9r2L1AF4y56Z2rRE3mQ&oe=66699B3C" alt="Logo"></a>
  </div>
  <div>
      
  </div>
  <div class="buttons left">
      <a href="" class="btn">Home</a>
      <div class="dropdown" >
          <button class="btn" >Quiz</button>
          <div class="dropdown-content">
              <a href="health" class="btn">Health</a>
              <a href="mental" class="btn">Mental Health</a>
              <a href="beauty" class="btn">Beauty</a>
          </div>
      </div>
      <div class="dropdown">
          <button class="btn">Shop</button>
          <div class="dropdown-content">
              <a href="healthstore" class="btn">Health</a>
              <a href="storemental" class="btn">Mental Health</a>
              <a href="storebeauty" class="btn">Beauty</a>
              <a href="promotion" class="btn">Promotion</a>

          </div>
      </div>
      <a href="course" class="btn">Online Courses </a>
      <a href="rendezvous" class="btn">Find a Doctor </a>
      <a href="#section1" class="btn">About us</a>

  </div>
  
  <div class="buttons right">
      <a href="login" class="btn">Sign In</a>
      <a href="register" class="btn">Sign Up</a>
  </div>
  
</nav>
<body>
  <div class="container">
    <div class="cart-container">
      <div class="search">
        <input type="text" [(ngModel)]="searchTerm" placeholder="Search products by name" (keyup.enter)="searchProducts()">
        <button (click)="searchProducts()">Search</button>
      </div>
      <ul class="cart">
        <li class="cart-item" *ngFor="let item of items; let i = index">
         {{ item.price }} DT |
          <button class="remove-button" (click)="supprimerProduitsDuPanier(i)">Remove</button>
        </li>
      </ul>
      <div *ngIf="items.length === 0" class="empty-cart-message"></div>
      <div>Total : <span class="cart-total">{{ calculerTotal() }} DT</span></div>
      <button class="clear-cart-button" (click)="viderPanier()">Clear Cart</button>
      
      <a [routerLink]="['/panier']">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQC_Oy3WGKKIf3MnnEugk43GN0wT5paNsDbvQ&usqp=CAU" alt="panier" style="width: 50px; height: 50px;">
      </a>
        </div>
 
  </div>
  <main>
    <section class="hero">
      <h1>🌟 Limited Time Offer: Get Your Favorites Now! 🌟<br></h1>

      🎉 Don't miss out on our exclusive promotion! For a limited time only, grab incredible discounts on a wide range
      of products. <br>

      🛍️ Explore our store today and enjoy:<br>

      <h4>🔥 Up to 50% off select items!<br></h4>
      🎁 Special deals on bestselling products!<br>


      Hurry, these offers won't last forever!<br><br><br>
      <section class="promo-banner">

        <div class="promo-text">



          <a href="promotion">See all offers</a>
        </div>

      </section>
      <br><br><br><br>

      <h1>Happy shopping! 🛒✨</h1> <br>
     
     
    </section>
  
  
      <h2 >Health products</h2>
      <section class="featured-products">
        <div class="product" *ngFor="let healthproduct of healthproducts">
          <img [src]="healthproduct.imageUrl" alt="{{ healthproduct.name }} " />
          <h2>{{ healthproduct.name }}</h2>
          <p>Prix: {{ healthproduct.price }} TND</p>
  
          <button (click)="ajouterProduitAuPanier(healthproduct)" >Ajouter au panier</button>
  
        </div>
      </section>
      
  
    </main>
  
  </body>
  <footer>
    <div class="footer-container">
      <div class="contact">
        <h3>Contact</h3>
        <h5>Email: contactexample.com</h5>
        <h5>Téléphone: +123456789</h5>
      </div>
      <div class="social-media">
        <h3>Suivez-nous</h3>
        <ul>
          <li><a href="https://www.facebook.com/profile.php?id=100035186080849&locale=fr_FR"><img
                src="https://img.freepik.com/vecteurs-premium/icone-facebook_488108-2.jpg" alt="Facebook"></a></li>
          <li><a href="https://www.instagram.com/votrecompte"><img
                src="https://img.freepik.com/premium-vector/modern-logo-instagram-icon-white-background_578229-126.jpg"
                alt="Instagram"></a></li>
        </ul>
      </div>
    </div>
  
  </footer>