<body>
  <main>

    <br><br>
    <br><br><br>
    <h1>Quiz</h1>
    <br>
  
    <form (ngSubmit)="submitForm()">
  
      <div *ngIf="currentQuestionIndex === 0">
        <p>{{ questions[0].text }}</p>
        <label>
          <input type="radio" name="{{ questions[0].id }}" [(ngModel)]="questions[0].answer" value="oui">Yes &nbsp;&nbsp;&nbsp;&nbsp;
        </label>
        <label>
          <input type="radio" name="{{ questions[0].id }}" [(ngModel)]="questions[0].answer" value="non">No
        </label><br><br>
        <button type="button" (click)="nextQuestion()" class="next-button">Next</button>

      </div>
  
      <div *ngIf="currentQuestionIndex === 1">
        <p>{{ questions[1].text }}</p>
        <label>
          <input type="radio" name="{{ questions[1].id }}" [(ngModel)]="questions[1].answer" value="oui">Yes &nbsp;&nbsp;&nbsp;&nbsp;
        </label>
        <label>
          <input type="radio" name="{{ questions[1].id }}" [(ngModel)]="questions[1].answer" value="non">No
        </label><br><br>
        <button type="button" (click)="nextQuestion()" class="next-button">Next</button>

      </div>
      <div *ngIf="currentQuestionIndex === 2">
        <p>{{ questions[2].text }}</p>
        <label>
          <input type="radio" name="{{ questions[2].id }}" [(ngModel)]="questions[2].answer" value="oui">Yes &nbsp;&nbsp;&nbsp;&nbsp;
        </label>
        <label>
          <input type="radio" name="{{ questions[2].id }}" [(ngModel)]="questions[2].answer" value="non">No
        </label><br><br>
        <button type="button" (click)="nextQuestion()" class="next-button">Next</button>

      </div>
  
      <div *ngIf="currentQuestionIndex === 3">
        <p>{{ questions[3].text }}</p>
        <label>
          <input type="radio" name="{{ questions[3].id }}" [(ngModel)]="questions[3].answer" value="oui">Yes &nbsp;&nbsp;&nbsp;&nbsp;
        </label>
        <label>
          <input type="radio" name="{{ questions[3].id }}" [(ngModel)]="questions[3].answer" value="non">No

       </label><br><br>
       <button type="button" (click)="nextQuestion()" class="next-button">Next</button>

      </div>
      <div *ngIf="currentQuestionIndex === 4">
        <p>{{ questions[4].text }}</p>
        <label>
          <input type="radio" name="{{ questions[4].id }}" [(ngModel)]="questions[4].answer" value="oui">Yes &nbsp;&nbsp;&nbsp;&nbsp;
        </label>
        <label>
          <input type="radio" name="{{ questions[4].id }}" [(ngModel)]="questions[4].answer" value="non">No
        </label><br><br>
        <button type="button" (click)="nextQuestion()" class="next-button">Next</button>

      </div>
  
      <div *ngIf="currentQuestionIndex === 5">
        <p>{{ questions[5].text }}</p>
        <label>
          <input type="radio" name="{{ questions[5].id }}" [(ngModel)]="questions[5].answer" value="oui">Yes &nbsp;&nbsp;&nbsp;&nbsp;
        </label>
        <label>
          <input type="radio" name="{{ questions[5].id }}" [(ngModel)]="questions[5].answer" value="non">No
        </label><br><br>
        <button type="button" (click)="nextQuestion()" class="next-button">Next</button>

      </div>
      <div *ngIf="currentQuestionIndex === 6">
        <p>{{ questions[6].text }}</p>
        <label>
          <input type="radio" name="{{ questions[6].id }}" [(ngModel)]="questions[6].answer" value="oui">Yes &nbsp;&nbsp;&nbsp;&nbsp;
        </label>
        <label>
          <input type="radio" name="{{ questions[6].id }}" [(ngModel)]="questions[6].answer" value="non">No
        </label><br><br>
        <button type="button" (click)="nextQuestion()" class="next-button">Next</button>

      </div>
  
      <div *ngIf="currentQuestionIndex === 7">
        <p>{{ questions[7].text }}</p>
        <label>
          <input type="radio" name="{{ questions[7].id }}" [(ngModel)]="questions[7].answer" value="oui">Yes &nbsp;&nbsp;&nbsp;&nbsp;
        </label>
        <label>
          <input type="radio" name="{{ questions[7].id }}" [(ngModel)]="questions[7].answer" value="non">No
        </label><br><br>
        <button type="button" (click)="nextQuestion()" class="next-button">Next</button>

      </div>
      <div *ngIf="currentQuestionIndex === 8">
        <p>{{ questions[8].text }}</p>
        <label>
          <input type="radio" name="{{ questions[8].id }}" [(ngModel)]="questions[8].answer" value="oui">Yes &nbsp;&nbsp;&nbsp;&nbsp;
        </label>
        <label>
          <input type="radio" name="{{ questions[8].id }}" [(ngModel)]="questions[8].answer" value="non">No
        </label><br><br>
        <button type="button" (click)="nextQuestion()" class="next-button">Next</button>

      </div>
  
      <div *ngIf="currentQuestionIndex === 9">
        <p>{{ questions[9].text }}</p>
        <label>
          <input type="radio" name="{{ questions[9].id }}" [(ngModel)]="questions[9].answer" value="oui">Yes &nbsp;&nbsp;&nbsp;&nbsp;
        </label>
        <label>
          <input type="radio" name="{{ questions[9].id }}" [(ngModel)]="questions[9].answer" value="non">No
        </label><br><br>
        <button type="button" (click)="nextQuestion()" class="next-button">Next</button>

      </div>
      <div *ngIf="currentQuestionIndex === 10">
        <p>{{ questions[10].text }}</p>
        <label>
          <input type="radio" name="{{ questions[10].id }}" [(ngModel)]="questions[10].answer" value="oui">Yes &nbsp;&nbsp;&nbsp;&nbsp;
        </label>
        <label>
          <input type="radio" name="{{ questions[10].id }}" [(ngModel)]="questions[10].answer" value="non">No
        </label><br><br>
        <button type="button" (click)="nextQuestion()" class="next-button">Next</button>

      </div>
  
      <div *ngIf="currentQuestionIndex === 11">
        <p>{{ questions[11].text }}</p>
        <label>
          <input type="radio" name="{{ questions[11].id }}" [(ngModel)]="questions[11].answer" value="oui">Yes &nbsp;&nbsp;&nbsp;&nbsp;
        </label>
        <label>
          <input type="radio" name="{{ questions[11].id }}" [(ngModel)]="questions[11].answer" value="non">No
        </label><br><br>
        <br><br><br><br>
        <button type="button" (click)="submitForm()" class="click-button">Submit</button>

      </div>
      
  
      <!-- Add more div blocks for other questions as needed -->
  
  
    </form>
  
  </main>
  
<br><br>
<br><br>
<br><br>
<br><br>
<div class="advice">
<h3>Strategies for Empowering Health and Wellness: A Comprehensive Approach 👍​❤️​</h3>
<div class="row"> 
  <div class="col col-5"> 
    <img src="https://health.ucdavis.edu/media-resources/contenthub/post/internet/cultivating-health/2023/03/images-body/good-night-sleep.jpg" alt="Adequate Sleep Image">
    <div>Adequate sleep is essential for overall health and well-being. Encourage individuals to prioritize quality sleep by maintaining a consistent sleep schedule, creating a conducive sleep environment, and practicing relaxation techniques before bedtime.</div>
  </div>
  <div class="col col-2" ></div>
  <div class="col col-5"> 
    <img src="https://thumbs.dreamstime.com/z/physical-activity-icons-healthy-lifestyle-set-isolated-vector-illustration-44407692.jpg" alt="Physical Activity Image" class="Image">
    <div>Incorporate Physical Activity Into Daily Routine: Regular exercise is essential for maintaining a healthy weight, reducing the risk of chronic diseases, and promoting overall well-being. Encourage individuals to find physical activities they enjoy and incorporate them into their daily routine, whether it's walking, cycling, swimming, or dancing.</div>
  </div>
</div>
<br><br>
<div class="row"> 
  <div class="col col-5"> 
    <img src="https://media.istockphoto.com/id/1363588189/photo/healthy-lifestyle-on-ketogenic-diet-eating-clean-keto-food-good-health-dietary-in-heart-dish.jpg?s=612x612&w=0&k=20&c=RVW_a2Bq3eYeUWqkUbTUHkiQbGJaAMa9Q2fyljGymgY=" alt="Healthy Eating Image">
    <br> A balanced and nutritious diet is essential for supporting overall health and preventing chronic diseases. Encourage individuals to consume a variety of fruits, vegetables, whole grains, lean proteins, and healthy fats, and to limit the intake of processed and sugary foods.
  </div>
  <div class="col col-2" ></div>
  <div class="col col-5"> 
    <img src="https://vims.ac.in/vims-hospital/wp-content/uploads/2023/04/VIMS_APRIL_healthcheckup.jpg" alt="Health Check-ups Image" class="right-image">
  Regular health check-ups and screenings are vital for early detection and prevention of health problems. Encourage individuals to schedule routine visits with their healthcare providers for preventive screenings, vaccinations, and health assessments.
  </div>
</div>
<br><br>
<div class="row"> 
  <div class="col col-5"> 
    <img src="https://peaceofmind4wellness.com/wp-content/uploads/2023/02/Mental-Health-Matters-1024x768.png" alt="Professional Help Image">
    <br>  Seek Professional Help When Needed: Encourage individuals to seek professional help from healthcare providers or mental health professionals when experiencing physical or mental health concerns. It's important to address health issues promptly and seek appropriate treatment and support.
  </div>
  <div class="col col-2" ></div>
  <div class="col col-5"> 
    <img src="https://d3b6u46udi9ohd.cloudfront.net/wp-content/uploads/2023/07/06112547/Preventive-healthcare.jpg" alt="Preventive Healthcare Image">
    <br> Emphasize the importance of preventive healthcare measures such as vaccinations, screenings, and regular check-ups with healthcare providers. Encourage individuals to take an active role in their healthcare by staying up-to-date on recommended preventive services.
  </div>
</div>
<br><br>
<div class="row"> 
  <div class="col col-5"> 
    <img src="https://centershealthcare.com/wp-content/uploads/2022/08/071622-1568x994.jpg" alt="Good Sleep Hygiene Image">
    <br>  Quality sleep is essential for overall health and well-being. Encourage individuals to establish a consistent sleep schedule, create a relaxing bedtime routine, and create a comfortable sleep environment free of distractions.
  </div>
  <div class="col col-2" ></div>
  <div class="col col-5"> 
    <img src="https://www.metropolisindia.com/upgrade/blog/upload/2022/05/stay-hydrated-Metropolis-Healthcare.jpg" alt="Stay Hydrated Image">
    Stay Hydrated: Drink plenty of water throughout the day to maintain hydration levels.
  </div>
</div>
<br><br>
<div class="row"> 
  <div class="col col-5"> 
    <img src="https://www.conehealth.com/app/files/public/10020/8-Surprising-Benefits-of-Regular-Exercise.jpg" alt="Regular Exercise Image">
<br>Aim for at least 30 minutes of moderate-intensity exercise most days of the week. This could be walking, jogging, swimming, or any physical activity you enjoy.
  </div>
  <div class="col col-2" ></div>
  <div class="col col-5"> 
    <img src="https://t3.ftcdn.net/jpg/05/11/09/30/360_F_511093024_LEuFz3LbCiP98BnYM2csXlsPbdzerTlS.jpg" alt="Avoid Alcohol Image" class="image-vector">
    <br>It is recommended to either completely avoid drinking alcohol or to minimize consumption to the lowest possible level. Drinking alcohol in large quantities can lead to health problems and behavioral disorders.
  </div>
</div>
</div>
<br><br>
<br><br>
<br><br>
<br><br>
</body>
<footer>
  <div class="footer-container">
      <div class="contact">
          <h3>Contact</h3>
          <h5>Email: contactexample.com</h5>
          <h5>Téléphone: +123456789</h5>
      </div>
      <div class="social-media">
          <h3>Suivez-nous</h3>
          <ul>
              <li><a href="https://www.facebook.com/profile.php?id=100035186080849&locale=fr_FR"><img
                          src="https://img.freepik.com/vecteurs-premium/icone-facebook_488108-2.jpg"
                          alt="Facebook"></a></li>
              <li><a href="https://www.instagram.com/votrecompte"><img
                          src="https://img.freepik.com/premium-vector/modern-logo-instagram-icon-white-background_578229-126.jpg"
                          alt="Instagram"></a></li>
          </ul>
      </div>
  </div>

</footer>