<main>
    <br><br>
    
    <div class="title-container">
        <h4 class="small-text">Vitality &</h4>
        <h1><span class="big-text">Well &nbsp; </span></h1>
        <h1><span class="big-text"> Being</span></h1>

    </div>
    <p>Value your health; it's the foundation of everything in life</p>
    <p>Water your mind with kindness, and watch resilience bloom</p>
    <p>Believe in the beauty of self-care; nurturing yourself is the key to
        unlocking a timeless radiance that goes beyond appearances</p>
    <button class="get-started-btn">Get Started →</button>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <hr>

    <br>
    <h2>About us</h2><br>
    <hr>
    <br>
    <section class="about-us-section">

        <br><br><br><br>
        <h5><strong>Welcome to Well Being</strong></h5>
                <div class="container">
                    <div class="row">
                        <div class="col col-4">
                            <blockquote>
                                <strong>At "Well Being, we are passionate about promoting holistic wellness for our users. We understand the
                                importance of nurturing not only physical health but also psychological and aesthetic wellness.</strong>
                            </blockquote>
                        </div>
                        <div class="col col-8">
                            <blockquote>
                                <strong>Our Mission:
                                We are dedicated to providing a comprehensive platform that caters to the diverse needs of our users.
                                Whether you're looking to enhance your psychological resilience, improve your physical health, or refine
                                your aesthetic lifestyle, we've got you covered.</strong>
                            </blockquote>
                        </div>
                    </div>
                </div>
        <h1>sarra</h1>
        <h1>sarra</h1>
        <h1>saarra</h1>
    </section>

<br><br><br><br>


</main>

<footer>
    <div class="footer-container">
        <div class="contact">
            <h3>Contact</h3>
            <h5>Email: contactexample.com</h5>
            <h5>Téléphone: +123456789</h5>
        </div>
        <div class="social-media">
            <h3>Suivez-nous</h3>
            <ul>
                <li><a href="https://www.facebook.com/profile.php?id=100035186080849&locale=fr_FR"><img
                            src="https://img.freepik.com/vecteurs-premium/icone-facebook_488108-2.jpg"
                            alt="Facebook"></a></li>
                <li><a href="https://www.instagram.com/votrecompte"><img
                            src="https://img.freepik.com/premium-vector/modern-logo-instagram-icon-white-background_578229-126.jpg"
                            alt="Instagram"></a></li>
            </ul>
        </div>
    </div>

</footer>