body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.image {
  flex: 0 0 30%; /* Taille de l'image */
  margin-right: 250px; /* Espacement entre l'image et le formulaire */
}

.form-container {
  flex: 0 0 70%; /* Taille du formulaire */
}

.photo {
  width: 500px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  opacity: 0.6;
 
}

h2 {
  text-align: center;
}

form {
  text-align: left;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: inline-block;
  width: 30%;
  margin-right: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select,
input[type="number"] {
  width: 65%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.login-link {
  margin-top: 10px;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: -80px; 
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact, .social-media {
  flex: 1;
}

.contact h3, .social-media h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.contact h5 {
  margin: 5px 0;
  font-size: 0.9em;
}

.social-media ul {
  list-style-type: none;
  padding: 0;
}

.social-media ul li {
  display: inline-block;
  margin-right: 10px;
}

.social-media ul li:last-child {
  margin-right: 0;
}

.social-media ul li a img {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Rounded corners for the social media icons */
}